<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="author" content="Isaac Su" />
    <meta name="description" content="Isaac Su's home on the web" />
    <link rel="stylesheet" href="/assets/css/all.css">
  </head>

  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>

</html>
